// ========== variables ========== 

//colors
@light-cyan: 		#d6edea;
@brown: 			#763b4c;
@red:  				#e92600;
@navy: 				#30496d;
@mint:  			#3ec69f;
@white: 			#fff;

//typography
@heading-font: 		"Montserrat", sans-serif;
@tags-font: 		"Varela Round", sans-serif;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: @light-cyan;
	

}

h1 {
	margin: 18px;
	font-family: @heading-font;
	color: @red;
	font-size: 55px;
	font-weight: 700;
	
}

#h3 {
	margin-top: 20px;
	margin-bottom: 0;
	font-family: @heading-font;
	color: @navy;
	font-size: 44px;
	font-weight: 400;
}

.contain {
	width: 85%;
	margin: 0 auto;
}


// header

#start-page {
	text-align: center;
}

// game field

#game-field {
	margin-top: 15px;
	width: 55%;
}

.tile {
	padding: 30% 0;
	margin: 4px 2px;
	width: 18%;
	height: 3em;
	text-align: center;
	font-family: @tags-font;
	color: @white;
	letter-spacing: 1.2;
	font-size: 2em;
	display: inline-block;
	border-radius: 5px;
	background-color: @mint;
}





