* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #d6edea;
}
h1 {
  margin: 18px;
  font-family: "Montserrat", sans-serif;
  color: #e92600;
  font-size: 55px;
  font-weight: 700;
}
#h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #30496d;
  font-size: 44px;
  font-weight: 400;
}
.contain {
  width: 85%;
  margin: 0 auto;
}
#start-page {
  text-align: center;
}
#game-field {
  margin-top: 15px;
  width: 55%;
}
.tile {
  padding: 2.7%;
  margin: 4px 2px;
  width: 18%;
  height: 3em;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
  letter-spacing: 1.2;
  font-size: 1.6em;
  display: inline-block;
  border-radius: 5px;
  background-color: #3ec69f;
}
