html,
body {
  width: 100%;
  overflow: hidden;
}
svg {
  position: absolute;
  left: 0;
  bottom: -6%;
  width: 100%;
}
#desktop,
.notes-on-desktop {
  transform: translateX(-110px);
}
#chair {
  -webkit-animation: popup 1.5s ease-in-out;
}
#desktop {
  -webkit-animation: popup 1s ease-in-out;
}
.notes-on-desktop {
  -webkit-animation: popup 1.1s ease-in-out;
}
#laptop {
  -webkit-animation: coming-right 2s ease-in-out;
}
#lamp {
  -webkit-animation: coming-right 2.5s ease-in-out;
}
.fish {
  -webkit-animation: move-fish 5s ease-in-out infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}
@-webkit-keyframes popup {
  0% {
    transform: translateX(-250px);
  }
  70% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-110px);
  }
}
@-webkit-keyframes coming-right {
  0% {
    transform: translateX(500px);
  }
  70% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes move-fish {
  0% {
    transform: translateX(5px) rotateY(0deg);
  }
  30% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-38px) rotateY(180deg);
  }
  90% {
    transform: translateX(-6px) rotateY(180deg);
  }
  100% {
    transform: translateX(5px) rotateY(0deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
